# system files
*.DS_Store
*.ini
*~
~$*

# text editors
*.vscode

# preprocessing, object, assembly, debug
*.[ios]
*.dSYM

# libs, executables
*.a
*.so
*.dll
*.out
*.exe

# text files
*.txt
*.pdf
*dump

# current project
SFML*
