# system files
*.DS_Store
*.ini
*~
~$*

# Prerequisites
*.d

# Preprocessing
*.i
*.ii

# Object files
*.slo
*.lo
*.ko
*.elf
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# text files
*.txt
*.pdf
*dump

# current project
!tests/tests/*.txt
!graphics/stockfish.exe
